<section class="notifications-wigdet">
    <h2 class="text-center">Notifications</h2>

    <div class="notifications">
        <app-notification-card></app-notification-card>
        <app-notification-card></app-notification-card>
        <app-notification-card></app-notification-card>
        <app-notification-card></app-notification-card>
        <app-notification-card></app-notification-card>
        <app-notification-card></app-notification-card>
        <app-notification-card></app-notification-card>
    </div>
</section>
