<section class="charts flex flex-col gap-10">
    <div class="flex flex-col md:flex-row gap-4">
        <div class="card elevated w-full">
            <h2>LINE CHART</h2>
            <app-chart type="line"></app-chart>
        </div>
        <div class="card elevated w-full">
            <h2>BAR CHART</h2>
            <app-chart></app-chart>
        </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4">
        <div class="card elevated w-full">
            <h2>BUBBLE CHART</h2>
            <app-chart type="bubble"></app-chart>
        </div>
        <div class="card elevated w-full">
            <h2>DOUGHNUT CHART</h2>
            <app-chart type="doughnut"></app-chart>
        </div>
    </div>
</section>