<section class="tables flex flex-col gap-10">
    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full px-2">
            <app-generic-table></app-generic-table>
        </div>
        <div class="w-full px-2">
            <app-filter-table></app-filter-table>
        </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full px-2">
            <app-sort-table></app-sort-table>
        </div>
        <div class="w-full px-2">
            <app-paginated-table></app-paginated-table>
        </div>
    </div>
</section>
