@use 'colors' as colors;
@use 'gradients' as gradients;

.core {

    & .mat-sidenav {
        top: 50px !important;
        padding-top: 10px;
        @include gradients.main();
    }

    & .page {
        position: relative;
        padding: 75px 10px 25px 70px;
        background: whitesmoke;
        min-height: 100vh;
        
        & .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
            background: rgba($color: #000000, $alpha: .5);
        }
    }

    & .mat-drawer-content, & .mat-sidenav-content {
        display: initial;
        margin-left: 0 !important;
    }

    & .mat-toolbar-row, & .mat-toolbar-single-row {
        line-height: 10px;
    }
}