<div class="typography">
    <div class="flex flex-col md:flex-row gap-4">
        <div class="headings w-full text-center">
            <h2>HEADINGS</h2>
            <div class="px-2">
                <h1>This is a H1 heading</h1>
                <h2>This is a H2 heading</h2>
                <h3>This is a H3 heading</h3>
                <h4>This is a H4 heading</h4>
                <h5>This is a H5 heading</h5>
                <h6>This is a H6 heading</h6>
            </div>
        </div>
        <div class="colors w-full text-center">
            <h2>TEXT COLORS</h2>
            <div class="px-2">
                <p class="text-success">This is a success text</p>
                <p class="text-danger">This is a success text</p>
                <p class="text-info">This is a success text</p>
                <p class="text-warning">This is a success text</p>
                <p class="text-russian-violet">This is a success text</p>
                <p class="text-patriarch">This is a success text</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4">
        <div class="blockquote text-center w-full">
            <h2>BLOCKQUOTE</h2>
            <blockquote class="relative text-center p-10 w-full m-1">
                It's good to meet you, Dr. Banner. Your work on anti-electron collisions is unparalleled. And I'm a huge
                fan of the way you lose control and turn into an enormous green rage monster.
                <cite> - Tony Stark</cite>
            </blockquote>
        </div>
        <div class="text-overflow text-center w-full">
            <h2>TEXT OVERFLOW</h2>
            <div class="">
                <p class="truncate mb-3">
                    This is an text ellipsis illustration, 
                    Made it a long text to see full effect.
                </p>
                <p class="text-clip overflow-hidden whitespace-nowrap mb-3">
                    <span>
                        This is an text clip illustration, 
                        Made it a long text to see full effect.
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>